
h1{
    font-family: 'Pokemon Solid', sans-serif;   
}


body{

    background-color: turquoise;
       

}

li:hover {
    font-size: large;
    transition: all .2s ease-in-out;
    transform: scale(1.1); 
    

}

#pokemon-info {

    background-color: azure;
    position: absolute;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
    

}


#pokemon-details{

    background-color: beige;
    position: absolute;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;



}