
h1{
    
    font-family: 'Pokemon Solid', sans-serif; 
    font-size:70px;  
}


#go{
    background:url('https://cdn-icons-png.flaticon.com/128/743/743977.png'); 
    background-repeat: no-repeat;
    background-size: 50px;
    cursor:pointer;
    border:none;
    width:50px;
    height:50px;
}




body{
background-image: url("https://cdn.dribbble.com/users/1771704/screenshots/6124573/attachments/1313609/pokeball.gif?compress=1&resize=400x300&vertical=top");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-size: cover;
}




#pokemonName {
    font-family: 'Pokemon Solid', sans-serif;   
    font-size:70px;

}

li:hover {
    font-size:30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;    
    animation-duration: 0.25s;
    border-left: 8px solid red;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    filter: drop-shadow(30px 10px 4px #4444dd)
    

}

#pokemon-info {
    font-size: 25px;
    position: absolute;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 2%;
    left: 0;
    
   
}



#pokemon-details{

    align-items: center;
    position: absolute;
    height: 100%;
    width: 50%; 
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 5%;
    right: 0;



}